src/main/mule/asyn-sync-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="synchronus-flow" doc:id="7d05887c-25fd-4261-9c1f-6f31135f1aee" >
		<http:listener doc:name="synchronus flow listner" doc:id="6ee81271-5d40-448f-8247-88eeb18e7eb1" config-ref="HTTP_Listener_config" path="/sync"/>
		<set-payload value='#[[{&#10;	name: "urvashi",&#10;	role: "integration eng"&#10;},&#10;{&#10;	name: "neetu",&#10;	role: "doctor"&#10;}]]' doc:name="set synchronus flow payload" doc:id="350bb4a7-84bc-4727-b05e-cf722e45f106" />
		<ee:transform doc:name="synchronus flow transform message" doc:id="6c458ad6-3a4d-49da-bfc4-76ad7784f507" >
			<ee:message >
				<ee:set-payload resource="dwl/sync.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sub flow reference" doc:id="3606a0c4-5f59-4420-a5e3-b522338f011b" name="sub-flow"/>
		<logger level="INFO" doc:name="synchronus flow logger" doc:id="49f5675d-2e2c-469d-abde-645db8338d91" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ed720286-4231-4941-abbd-48d26c34fdd0" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="f4dcec0f-fc4a-4b8a-85e3-a32ebb8f4873" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error" : "Synchronus Flow"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="sub-flow" doc:id="cdab561f-936e-47cf-9979-06e79f5aace0" >
		<ee:transform doc:name="sub flow transform message" doc:id="c9de4f03-f1d7-4897-95e6-b1c91d9dd712" >
			<ee:message >
				<ee:set-payload resource="dwl/sub.dwl" />
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="asynchronus-flow" doc:id="cfe9296b-9606-452f-9537-78a0b9356456" >
		<http:listener doc:name="asynchronus flow listener" doc:id="0f8002d0-efe0-46bd-8dc9-08000c8f7333" config-ref="HTTP_Listener_config" path="/async"/>
		<set-payload value='#[[{&#10;	name: "urvashi",&#10;	role: "integration eng"&#10;},&#10;{&#10;	name: "neetu",&#10;	role: "doctor"&#10;}]]' doc:name="set asynchronus flow payload" doc:id="101c5765-8798-4395-9d8d-7e0003e879a5" />
		<async doc:name="Async" doc:id="2f08644a-3240-4006-9ab8-22172c826e6c" >
			<flow-ref doc:name="sub flow reference" doc:id="ea03170f-fcdb-4bb0-a658-c53ebffda225" name="sub-flow"/>
		</async>
		<ee:transform doc:name="asynchronus flow transform message" doc:id="72415514-3e29-4f40-83b8-847b055a0860">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="asynchronus flow logger" doc:id="36f19ba5-7715-4b94-8c11-1b383a264f4e" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="36d02588-9611-4a20-8574-8bbaff02a789" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="0f733f2d-a431-4e03-a4b0-309363f2397e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error" : "asynchronus flow"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
